@charset "ISO-8859-1";

h1 {
	width: 680px;
	margin-left:20%;
	text-align: center;
	margin-top: 5%;
	color: #126492;
	font-family: 'Montserrat', sans-serif;
}

#menu {
	width: 680px;
	margin-left: 20%;
	background-color: #C8E5EA;
	display: flex;
	flex-wrap: wrap;
	padding-left: 120px;
}

#personne {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#serie {
	padding-top: 7px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

#saison {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#episode {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bloc {
	padding-top: 9px;
	padding-bottom:9px;
	padding-left: 30px;
	width: 550px;
	text-align: center;
	margin-left: 28%;
	background-color: #C8E5EA;
	
}

#button {
	margin-top:6px;
	margin-bottom: 6px;
	background:#fff;
	border:1px solid #ccc;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	width: 200px;
	font-size: 16px;
	font-weight: bold;
}

#retacc {
	
}

#civilite {
	width: 200px;
	padding-top:3px;
	padding-bottom:3px; 
	margin-left: 23%;
}

#nom {
	width: 200px;
	padding-top:3px;
	padding-bottom:3px; 
	margin-left: 23%;
}

#prenom {
	width: 200px;
	padding-top:3px;
	padding-bottom:3px; 
	margin-left: 23%;
}

#noms {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#nomOriginal {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#annee {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#synopsys {
	width: 350px;
	height: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#statut {
	width: 200px; 
	margin-top: 3px;
	margin-bottom: 3px;
}
#pays {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#serie {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#numsaison {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#numepisode {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#titre {
	width: 350px;
	height: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#titreOriginal {
	width: 200px; 
	margin-top: 3px;
	margin-bottom: 3px;
}
#duree {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#resume {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#dateReal {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#dateDiff {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#public {
	width: 350px;
	height: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
}
