@charset "ISO-8859-1";

body {
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 5%;
	color: #126492;
	font-family: 'Montserrat', sans-serif;
}

input, select {
	text-align: center;
}

#menu {
	width: 680px;
	margin-left: calc(50% - 400px);
	background-color: #C8E5EA;
	display: flex;
	flex-wrap: wrap;
	padding-left: 120px;
}

#personne {
	margin: 10px;
}

#serie {
	margin: 10px;
}

#saison {
	margin: 10px;
}

#episode {
	margin: 10px;
}

#bloc {
	padding-top: 9px;
	padding-bottom:9px;
	width: 550px;
	text-align: center;
	margin-left: 28%;
	background-color: #C8E5EA;
	
}

#button {
	margin-top:6px;
	margin-bottom: 6px;
	background:#fff;
	border:1px solid #ccc;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	width: 200px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

#retacc {
	cursor: pointer;
}

/* Formulaire personne */
#civilite, #nom, #prenom {
	width: 200px;
	margin-top:3px;
	margin-bottom:3px; 
}

/* Formulaire série */
#noms, #nomOriginal, #anneeparution, #synopsys {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#idstatut, #idpays {
	width: 200px; 
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Formulaire saison et épisode */
#idserie, #numero, #resume, #titre, #titreoriginal, #idsaison {
	width: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#annee_diffusion, #duree, #dateReal, #dateDiff, #idpublic {
	width: 200px; 
	margin-top: 3px;
	margin-bottom: 3px;
}
